imdb genre detection using TF-IDF 
and naive baiyes

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(rc={'figure.figsize':(18,8)},style='darkgrid')
from time import time
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import *
import warnings
warnings.filterwarnings('ignore')

In [54]:
# read the data
# Train data:
# ID ::: TITLE ::: GENRE ::: DESCRIPTION
# ID ::: TITLE ::: GENRE ::: DESCRIPTION
# ID ::: TITLE ::: GENRE ::: DESCRIPTION
# ID ::: TITLE ::: GENRE ::: DESCRIPTION
# 
# Test data:
# ID ::: TITLE ::: DESCRIPTION
# ID ::: TITLE ::: DESCRIPTION
# ID ::: TITLE ::: DESCRIPTION
# ID ::: TITLE ::: DESCRIPTION
# 
# Source:
# ftp://ftp.fu-berlin.de/pub/misc/movies/database/
imdb_data = pd.read_table('Genre Classification Dataset/train_data.txt' , sep = ':::', header = None, names = [ 'TITLE', 'GENRE', 'DESCRIPTION'] , engine = 'python').reset_index(drop = True)
imdb_data

,TITLE,GENRE,DESCRIPTION
0,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
1,Cupid (1997),thriller,A brother and sister with a past incestuous r...
2,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
3,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
4,The Unrecovered (2007),drama,The film's title refers not only to the un-re...
...,...,...,...
54209,"""Bonino"" (1953)",comedy,This short-lived NBC live sitcom centered on ...
54210,Dead Girls Don't Cry (????),horror,The NEXT Generation of EXPLOITATION. The sist...
54211,Ronald Goedemondt: Ze bestaan echt (2008),documentary,"Ze bestaan echt, is a stand-up comedy about g..."
54212,Make Your Own Bed (1944),comedy,Walter and Vivian live in the country and hav...
54213,Nature's Fury: Storm of the Century (2006),history,"On Labor Day Weekend, 1935, the most intense ..."

In [55]:
# read the test data
imdb_test_data = pd.read_table('Genre Classification Dataset/test_data.txt' , sep = ':::', header = None, names = [ 'TITLE', 'DESCRIPTION'] , engine = 'python').reset_index(drop = True)
imdb_test_data

,TITLE,DESCRIPTION
0,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apar..."
1,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty ch..."
2,Off the Beaten Track (2010),One year in the life of Albin and his family ...
3,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with hi..."
4,Er nu zhai (1955),Before he was known internationally as a mart...
...,...,...
54195,"""Tales of Light & Dark"" (2013)","Covering multiple genres, Tales of Light & Da..."
54196,Der letzte Mohikaner (1965),As Alice and Cora Munro attempt to find their...
54197,Oliver Twink (2007),A movie 169 years in the making. Oliver Twist...
54198,Slipstream (1973),"Popular, but mysterious rock D.J Mike Mallard..."
54199,Curitiba Zero Grau (2010),"Curitiba is a city in movement, with rhythms ..."

In [56]:
test_data_solution = pd.read_table('Genre Classification Dataset/test_data_solution.txt' , sep = ':::', header = None, names = [ 'TITLE', 'GENRE', 'DESCRIPTION'] , engine = 'python').reset_index(drop = True)
test_data_solution

,TITLE,GENRE,DESCRIPTION
0,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apar..."
1,La guerra de papá (1977),comedy,"Spain, March 1964: Quico is a very naughty ch..."
2,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family ...
3,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with hi..."
4,Er nu zhai (1955),drama,Before he was known internationally as a mart...
...,...,...,...
54195,"""Tales of Light & Dark"" (2013)",horror,"Covering multiple genres, Tales of Light & Da..."
54196,Der letzte Mohikaner (1965),western,As Alice and Cora Munro attempt to find their...
54197,Oliver Twink (2007),adult,A movie 169 years in the making. Oliver Twist...
54198,Slipstream (1973),drama,"Popular, but mysterious rock D.J Mike Mallard..."
54199,Curitiba Zero Grau (2010),drama,"Curitiba is a city in movement, with rhythms ..."

In [57]:
#vectorization
vectorizer = TfidfVectorizer(stop_words = 'english' , min_df=2 , ngram_range=(1,1) )
x_train = vectorizer.fit_transform(imdb_data['DESCRIPTION'].values)
x_test = vectorizer.transform(imdb_test_data['DESCRIPTION'].values)

Navie baiyes

In [58]:
from sklearn import metrics

#navie baiyes
clf = MultinomialNB()
clf.fit(x_train, imdb_data['GENRE'].values)
y_pred = clf.predict(x_test)
print(y_pred)
acc = metrics.accuracy_score(test_data_solution['GENRE'].values, y_pred)
print("Accuracy: ", acc)

[' drama ' ' drama ' ' documentary ' ... ' drama ' ' drama '
 ' documentary ']
Accuracy:  0.4584132841328413