imdb genre detection using TF-IDF 
and naive baiyes

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

In [2]:
# read the data
# Train data:
# ID ::: TITLE ::: GENRE ::: DESCRIPTION
# ID ::: TITLE ::: GENRE ::: DESCRIPTION
# ID ::: TITLE ::: GENRE ::: DESCRIPTION
# ID ::: TITLE ::: GENRE ::: DESCRIPTION
# 
# Test data:
# ID ::: TITLE ::: DESCRIPTION
# ID ::: TITLE ::: DESCRIPTION
# ID ::: TITLE ::: DESCRIPTION
# ID ::: TITLE ::: DESCRIPTION
# 
# Source:
# ftp://ftp.fu-berlin.de/pub/misc/movies/database/
imdb_data = pd.read_table('Genre Classification Dataset/train_data.txt' , sep = ':::', header = None, names = [ 'TITLE', 'GENRE', 'DESCRIPTION'] , engine = 'python').reset_index(drop = True)
imdb_data

,TITLE,GENRE,DESCRIPTION
0,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
1,Cupid (1997),thriller,A brother and sister with a past incestuous r...
2,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
3,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
4,The Unrecovered (2007),drama,The film's title refers not only to the un-re...
...,...,...,...
54209,"""Bonino"" (1953)",comedy,This short-lived NBC live sitcom centered on ...
54210,Dead Girls Don't Cry (????),horror,The NEXT Generation of EXPLOITATION. The sist...
54211,Ronald Goedemondt: Ze bestaan echt (2008),documentary,"Ze bestaan echt, is a stand-up comedy about g..."
54212,Make Your Own Bed (1944),comedy,Walter and Vivian live in the country and hav...
54213,Nature's Fury: Storm of the Century (2006),history,"On Labor Day Weekend, 1935, the most intense ..."

In [3]:
# read the test data
imdb_test_data = pd.read_table('Genre Classification Dataset/test_data.txt' , sep = ':::', header = None, names = [ 'TITLE', 'DESCRIPTION'] , engine = 'python').reset_index(drop = True)
imdb_test_data

,TITLE,DESCRIPTION
0,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apar..."
1,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty ch..."
2,Off the Beaten Track (2010),One year in the life of Albin and his family ...
3,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with hi..."
4,Er nu zhai (1955),Before he was known internationally as a mart...
...,...,...
54195,"""Tales of Light & Dark"" (2013)","Covering multiple genres, Tales of Light & Da..."
54196,Der letzte Mohikaner (1965),As Alice and Cora Munro attempt to find their...
54197,Oliver Twink (2007),A movie 169 years in the making. Oliver Twist...
54198,Slipstream (1973),"Popular, but mysterious rock D.J Mike Mallard..."
54199,Curitiba Zero Grau (2010),"Curitiba is a city in movement, with rhythms ..."

In [4]:
test_data_solution = pd.read_table('Genre Classification Dataset/test_data_solution.txt' , sep = ':::', header = None, names = [ 'TITLE','GENRE','DESCRIPTION'] , engine = 'python').reset_index(drop = True)
test_data_solution

,TITLE,GENRE,DESCRIPTION
0,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apar..."
1,La guerra de papá (1977),comedy,"Spain, March 1964: Quico is a very naughty ch..."
2,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family ...
3,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with hi..."
4,Er nu zhai (1955),drama,Before he was known internationally as a mart...
...,...,...,...
54195,"""Tales of Light & Dark"" (2013)",horror,"Covering multiple genres, Tales of Light & Da..."
54196,Der letzte Mohikaner (1965),western,As Alice and Cora Munro attempt to find their...
54197,Oliver Twink (2007),adult,A movie 169 years in the making. Oliver Twist...
54198,Slipstream (1973),drama,"Popular, but mysterious rock D.J Mike Mallard..."
54199,Curitiba Zero Grau (2010),drama,"Curitiba is a city in movement, with rhythms ..."

In [5]:
imdb_data.describe()

,TITLE,GENRE,DESCRIPTION
count,54214,54214,54214
unique,54214,27,54086
top,Oscar et la dame rose (2009),drama,Grammy - music award of the American academy ...
freq,1,13613,12

In [6]:
imdb_data.GENRE.unique()

array([' drama ', ' thriller ', ' adult ', ' documentary ', ' comedy ',
       ' crime ', ' reality-tv ', ' horror ', ' sport ', ' animation ',
       ' action ', ' fantasy ', ' short ', ' sci-fi ', ' music ',
       ' adventure ', ' talk-show ', ' western ', ' family ', ' mystery ',
       ' history ', ' news ', ' biography ', ' romance ', ' game-show ',
       ' musical ', ' war '], dtype=object)

In [7]:
imdb_data.query('GENRE == "Action"')

Empty DataFrame
Columns: [TITLE, GENRE, DESCRIPTION]
Index: []

In [8]:
imdb_data.TITLE.unique().shape

(54214,)

In [9]:
imdb_data['DESCRIPTION'].values

array([' Listening in to a conversation between his doctor and parents, 10-year-old Oscar learns what nobody has the courage to tell him. He only has a few weeks to live. Furious, he refuses to speak to anyone except straight-talking Rose, the lady in pink he meets on the hospital stairs. As Christmas approaches, Rose uses her fantastical experiences as a professional wrestler, her imagination, wit and charm to allow Oscar to live life and love to the full, in the company of his friends Pop Corn, Einstein, Bacon and childhood sweetheart Peggy Blue.',
       ' A brother and sister with a past incestuous relationship have a current murderous relationship. He murders the women who reject him and she murders the women who get too close to him.',
       ' As the bus empties the students for their field trip to the Museum of Natural History, little does the tour guide suspect that the students are there for more than just another tour. First, during the lecture films, the coeds drift into dreams of the most erotic fantasies one can imagine. After the films, they release the emotion of the fantasies in the most erotic and uncommon ways. One slips off to the curator\'s office for a little "acquisition. " Another finds the anthropologist to see what bones can be identified. Even the head teacher isn\'t immune. Soon the tour is over, but as the bus departs, everyone admits it was quite an education.',
       ...,
       " Ze bestaan echt, is a stand-up comedy about growing up and facing your fears. Freer and more organic than in 'Spek' Ronald speaks about which are the things to watch out for, what is going on 'out there' and how you can recognize people who are not okay.",
       " Walter and Vivian live in the country and have a difficult time keeping servants. Walter hires an private detective who has been fired for arresting the District Attorney. They only way that Walter can get Jerry to work for him is to tell Jerry that his life is in danger; the neighbor is trying to take his wife; and that Nazi spies are everywhere. Jerry needs a cook for his 'cover' so he gets his fiancée Susan to work with him. To keep Jerry working, Walter sends the threatening letters to himself and hires actors to play the spies. It soon becomes apparent that Susan cannot cook and Jerry could not find a spy if he tripped over him.",
       " On Labor Day Weekend, 1935, the most intense hurricane to ever make landfall on America's shores hit the Florida Keys. The country was just starting to recover from the Great Depression when the ferocious beast with its 200 mile-an-hour winds and violent storm surge overpowered nearly everything in it's path."],
      dtype=object)

In [10]:
#vectorization
vectorizer = TfidfVectorizer(stop_words = 'english' , min_df=2 , ngram_range=(1,1) )
x_train = vectorizer.fit_transform(imdb_data['DESCRIPTION'].values)
x_test = vectorizer.transform(imdb_test_data['DESCRIPTION'].values)